{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="width: 18rem;">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="">
        <h3>side bare here</h3>
        <h3>side bare here</h3>
        <h3>side bare here</h3>
    </div>
{% endblock %}

