{% extends 'base.html' %}
{% load static %}


{% block content %}
    <style>
        .sidenav {
            margin-top: 105px;
            {#margin-bottom: 94px;#}
            height: 600px;
            width: 200px;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #fff;
            overflow-x: hidden;
            padding-top: 20px;
            border-right: 1px solid black;
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px; 
            color: #818181;
            display: block;
        } 

        {#.sidenav a:hover {#}
        {#    color: #f1f1f1;#}
        {
        #}#}

        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
    <div class="sidenav">
        <p style="margin-left: 30px; margin-top: 10px;"><b>Categories</b></p>
        {% for category in categories %}
            <a href="?cat={{ category.pk }}" style="font-size: 14px;" onclick="getParamSearch('cat', {{ category.pk }})">{{ category }}</a>
        {% endfor %}
         <p style="margin-left: 30px; margin-top: 10px;"><b>Size</b></p>
        {% for s in size %}
            <a href="?size={{ s.pk }}" style="font-size: 14px;" onclick="getParamSearch('size', {{ s.pk }})">{{ s }}</a>
        {% endfor %}
    </div>

    <div class="container">
        <div class="row">
            {% for object in products %}
                <div class="col-3 mt-5 mx-1 ml-5" style="background: #fff; overflow: hidden;">
                    <div style="width: 250px; height: 303px;" class="img-fluid">
                        <a href="{% url 'products:details' pk=object.pk %}">
                            <img src="{{ object.image.url }}" alt="category image here"
                                 style="width: 250px; height: 300px;">
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'products:details' pk=object.pk %}"
                           style="font-size: 13px; text-decoration: none; color: black;">
                            <div>
                                <h2 style="font-size: 20px; padding-top: 10px;"><strong>{{ object.name }}</strong></h2>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        function getParamSearch(name, value) {
            let param = new URLSearchParams(window.location.search);
            if (param.has(name) && param.get(name) == value) {
                param.delete(name);
            } else {
                param.set(name, value);
            }
            window.location.search = param.toString()
        }
    </script>
{% endblock %}

