{% load i18n %}
{% load static %}


<nav class="navbar navbar-expand-lg" style="height: 65px; background: black;" id="myBtn">
    <a class="navbar-brand" href="{% url 'products:home' %}">
        <img src="/media/am.png" alt="amazon logo here" style="height: 50px; width: 100px;" class="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item text-center text-white" style="font-size: 12px;">
                <a class="nav-link" href="#" style="color: white;">{% trans 'Deliver to ' %}<br><b>Uzbekistan</b></a>
            </li>
            <div class="mt-2" style="">
                <form class="form-inline">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" style="height: 38px;">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-black-50" href="#" id="navbarDropdown"
                                           role="button"
                                           data-toggle="dropdown">
                                            <span>{% trans 'All' %}</span>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            {% for obj in object_list %}
                                                <a class="dropdown-item" href="{% url 'products:product' %}"
                                                   style="font-size: 12px;">{{ obj.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </li>
                                </span>
                        </div>
                        <form action="{% url 'products:product' %}">
                            <input name="q" value="{{ request.GET.q }}" type="search" class="form-control" size="120"
                                   placeholder="">
                            <button class="btn btn-outline-success bi bi-search"
                                    style="background: orange; height: 38px;"></button>
                        </form>
                    </div>
                </form>
            </div>
            <li class="nav-item dropdown mt-2 ml-3">
                {% get_current_language as current_lan %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" style="color: white;">
                    {{ current_lan }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% get_available_languages as all_lan %}
                    {% for lan in all_lan %}
                        {% if lan.0 != current_lan %}
                            <a class="dropdown-item" href="/{{ lan.0 }}/">
                                {{ lan.0 }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item mt-1 ml-3">
                <a class="nav-link" href="{% url 'acc:login' %}"
                   style="color: white; font-size: 12px;">{% trans 'Hello' %},
                    {% if request.user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        {% trans 'Sign in' %}
                    {% endif %}
                    <br><strong>{% trans 'Accounts & Lists' %}</strong></a>
                {{ request.customer }}
            </li>
            <li class="nav-item mt-1 ml-3">
                <a class="nav-link" href=""
                   style="color: white; font-size: 12px;">{% trans 'Returns ' %}<br><strong>& {% trans 'Orders' %}</strong></a>
            </li>
            <li class="nav-item mt-1 ml-3">
                <a class="nav-link bi bi-bag-plus" href="{% url 'product:shop_cart' %}">
                </a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 40px;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'products:home' %}">{% trans 'Home' %}</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        {% if user.is_authenticated %}
            <a href="{% url 'acc:logout' %}">{% trans 'Sign Out' %}</a>
        {% else %}
            <a href="{% url 'acc:login' %}">{% trans 'Sign in' %}</a>
        {% endif %}
        {% if not user.is_authenticated %}
            <a href="{% url 'acc:register' %}">{% trans 'Register' %}</a>
        {% else %}
        {% endif %}
    </div>
    <span style="font-size: 16px;cursor: pointer; color: white;" onclick="openNav()">&#9776; All</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav" id="hello">
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: white; font-size: 15px;">{% trans 'Todays deals' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: white; font-size: 15px;">{% trans 'Customer Service' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: white; font-size: 15px;">{% trans 'Registry' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: white; font-size: 15px;">{% trans 'Gift Cards' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: white; font-size: 15px;">{% trans 'Sell' %}</a>
        </li>
    </ul>
</nav>